{% extends "news/layout/base.html" %}

{% block content %}
{% for n in news %}    
    <div class="media">
        <img class="align-self-start mr-4" src="..." alt="Generic placeholder image">
        <div class="media-body">
          <h6 class="mt-0"><a href="{{n.url_source}}" target=_blank style="text-decoration-color: black;">{{n.title}}</a></h6>
          <p class="text-muted"><h6><a href="{% url 'by_category' n.category.pk %}">{{ n.category }}</a></h6></p>
          <p class="mb-4 text-muted">{{n.published|date:"d.m.Y H:i" }}</p>
        </div>
      </div>
{% endfor %}
{% endblock %}